<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru-ru" lang="ru-ru" dir="ltr" >
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>UIK stats</title>

</head>
<body>
    <div id="header_div">
    </div>

    <div id="body_div">
        <div>
            записываются {{taken|length}} УИК: {{taken}}
        </div>
        <div>
            свободно {{free|length}} УИК: {{free}}
        </div>
    </div>

    <div id="footer_div">
    </div>

</body>
</html>


